:root {
  --background: #f0f2f5;
  --blur: 3px;
}

body {
  padding: 4.5rem;
  background: var(--background);
  background: linear-gradient(90deg, var(--background) 0, #c4caef 58%);
  font-family: 'Inter', sans-serif;
}

.card {
  width: 300px;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 2rem;
  background: rgba(255, 255, 255, .7);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
}

.card-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.wip-icon {
  position: absolute;
  width: 150px;
  top: 5%;
  left: 30%;
}
